<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body OnLoad="document.userInput.msg.focus();">
    
<br><br><br>
    <div>
      
      <div id="chatbox">
        <img src="https://media.giphy.com/media/2UEMOVIDd0CPBveU3w/giphy.gif" style="width:200px;"><br>
        <button class="botText1"><span>Hi! I'm qBot  </span></button><br> <br>
        <button class="botText2"><span>tell me your query</span></button><br> <br>
        <button class="botText3"><span>I will search it in amazon product questions.</span></button>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Message" autofocus>  <br>
        <input id="buttonInput" type="submit" value="Send" style="left: 90vw;">
      </div>
      <script>
        function thirdresp() {
          var rawText = "ok"
          document.getElementById("textInput").disabled = true;
          document.getElementById("buttonInput").disabled = true;
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.get("/get", { msg: rawText }).done(function(data) {
            
            var botHtml = ' <br><button class="botText"><span>' + data + '</span></button>';
            $(".botText4").remove();
            $("#chatbox").append(botHtml);
            
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
            document.getElementById("textInput").disabled = false;
            document.getElementById("buttonInput").disabled = false;
            });
            
        }
        function secondresp() {
          var rawText = "ok"
          document.getElementById("textInput").disabled = true;
          document.getElementById("buttonInput").disabled = true;
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.get("/get", { msg: rawText }).done(function(data) {
            
            var botHtml = ' <br><button class="botText"><span>' + data + '</span></button>';
            $(".botText4").remove();
            $("#chatbox").append(botHtml);
            if(data == 'I am finding similar questions for you') {
              var botHtml = '<br><br><button class="botText4"><span>' + "Finding results" + '</span></button>';
              $("#chatbox").append(botHtml);
              document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
              thirdresp();
            }
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
            document.getElementById("textInput").disabled = false;
            document.getElementById("buttonInput").disabled = false;
            });
            
        }
       
        function getBotResponse() {
          var rawText = $("#textInput").val();
          var userHtml = '<br><br><p class="userText"><span>' + rawText + '</span></p><br><br><br>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          $.get("/get", { msg: rawText }).done(function(data) {
            var botHtml = '<br><br><button class="botText"><span>' + data + '</span></button><br>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
            if(data == 'I am confused with the product you are talking about. I am searching it in the internet please wait') {
              var botHtml = '<br><br><button class="botText4"><span>' + "Finding results" + '</span></button>';
              $("#chatbox").append(botHtml);
              document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
              secondresp();
            }
            
          });
        }
        $("#textInput").keyup(function(e) {
            if(e.keyCode == 13) {
              getBotResponse();
            }
        });
        $("#buttonInput").focus(function(e) {
          getBotResponse();
        })
      </script>
    </div>
  </body>
</html>