<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" type="text/css" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>
  <body OnLoad="document.userInput.msg.focus();">
    
<br><br><br>
    <div>
      <div id="chatbox">
        <button class="botText1"><span>Hi! I'm qBot  </span></button><br> <br>
        <button class="botText2"><span>tell me your query</span></button><br> <br>
        <button class="botText3"><span>I will search it in amazon product questions.</span></button>
      </div>
      <div id="userInput">
        <input id="textInput" type="text" name="msg" placeholder="Message" autofocus>  <br>
        <input id="buttonInput" type="submit" value="Send" style="left: 90vw;">
      </div>
      <script>
        function secondresp() {
          $.get("/get", { msg: "ok" }).done(function(data) {
            var botHtml = '<button class="botText"><span>' + data + '</span></button>';
            });
        }
       
        function getBotResponse() {
          var rawText = $("#textInput").val();
          var userHtml = '<p class="userText"><span>' + rawText + '</span></p>';
          $("#textInput").val("");
          $("#chatbox").append(userHtml);
          document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
          if(rawText == "hi") {
            var botHtml = '<button class="botText"><span>' + "Hello" + '</span></button>';
            $("#chatbox").append(botHtml);
          }
          $.get("/get", { msg: rawText }).done(function(data) {
            var botHtml = '<button class="botText"><span>' + data + '</span></button>';
            $("#chatbox").append(botHtml);
            document.getElementById('userInput').scrollIntoView({block: 'start', behavior: 'smooth'});
            if(data == "I am confused with the product you are talking about. I am searching it in google please wait") {
              var botHtml = '<button class="botText"><span>' + "Finding results" + '</span></button>';
              $("#chatbox").append(botHtml);
              secondresp();
            }
          });
        }
        $("#textInput").keyup(function(e) {
            if(e.keyCode == 13) {
              getBotResponse();
            }
        });
        $("#buttonInput").focus(function(e) {
          getBotResponse();
        })
      </script>
    </div>
  </body>
</html>
